*.pro.user.*
*.pro.user
.qmake.stash
build-*
build
packages/rpm/*.spec
*.tar.gz
rpms
printrelease.sh
printversion.sh
git_version.h
*.o
*.moc
moc_*
target_wrapper.sh
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
Makefile.*
*.diff
*.orig
*.patch
*.rej
*.old
*.exe

